fb3_body.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by GribUser (Shukovsky) -->
<schema targetNamespace="http://www.fictionbook.org/FictionBook3/body" xmlns:fb3b="http://www.fictionbook.org/FictionBook3/body" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:fb3d="http://www.fictionbook.org/FictionBook3/description" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- See license.txt for licensing information -->
	<include schemaLocation="fb3_general.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="fb3_links.xsd"/>
	<import namespace="http://www.fictionbook.org/FictionBook3/description" schemaLocation="fb3_descr.xsd"/>
	<element name="fb3-body">
		<annotation>
			<documentation xml:lang="ru">Корневой элемент для текста в fb3. id привязывает его к дескрипшну. На всякий пожарный</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="fb3b:TitledType">
					<sequence>
						<element name="section" type="fb3b:SectionType" maxOccurs="unbounded"/>
						<element name="notes" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<complexContent>
									<extension base="fb3b:TitledType">
										<sequence>
											<element name="note" type="fb3b:SemiSimpleBodyType" maxOccurs="unbounded"/>
										</sequence>
										<attribute name="show"/>
									</extension>
								</complexContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="id" type="fb3b:UUIDType" use="required"/>
				</extension>
			</complexContent>
		</complexType>
		<unique name="SectionID">
			<selector xpath=".//section"/>
			<field xpath="@id"/>
		</unique>
		<key name="SimpleNotesLinks">
			<selector xpath=".//note"/>
			<field xpath="@xlink:href"/>
		</key>
		<keyref name="SimpleNotesTargets" refer="fb3b:SimpleNotesLinks">
			<selector xpath="notes/note"/>
			<field xpath="@id"/>
		</keyref>
	</element>
	<complexType name="TitledType">
		<annotation>
			<documentation>Элемент с заголовком. Заголовок имеет многоуровневую структуру и может тащить за собой эпиграф</documentation>
		</annotation>
		<sequence>
			<element name="title" minOccurs="0">
				<annotation>
					<documentation>Заголовок (потенциально многострочный) и подзаголовок</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="fb3b:SimpleTextType"/>
					</complexContent>
				</complexType>
			</element>
			<element name="epigraph" minOccurs="0" maxOccurs="25">
				<annotation>
					<documentation>Эпиграф, у которого, в свою очередь, может быть подпись - дата, имя автора  эпиграфа и прочее</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="fb3b:SimpleTextType"/>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SimpleTextType">
		<annotation>
			<documentation>Многострочный текст без структурных изысков. Используется большей частью в заголовках</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation>Кудрявая схема sequence+choice позволяет исключить br в качестве первого элемента. Сперва мы требуем текст.</documentation>
			</annotation>
			<element name="p" type="fb3b:StyleType"/>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="p" type="fb3b:StyleType"/>
				<element name="br" type="fb3b:BRType"/>
			</choice>
			<element name="subscription" type="fb3b:BasicAnnotationType" minOccurs="0">
				<annotation>
					<documentation>"Полу подвал" нашего текстового фрагмента.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="SectionType">
		<annotation>
			<documentation>Секция. Целостный фрагмент текста, обычно представляет часть книги - главу и т.п.</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:TitledType">
				<sequence>
					<element ref="fb3d:fb3-relations" minOccurs="0"/>
					<element ref="fb3d:fb3-classification" minOccurs="0"/>
					<element name="annotation" type="fb3b:BasicAnnotationType" minOccurs="0"/>
					<choice>
						<element name="section" type="fb3b:SectionType" maxOccurs="unbounded">
							<annotation>
								<documentation>В секции может быть либо другая секция</documentation>
							</annotation>
						</element>
						<sequence>
							<annotation>
								<documentation>Либо собственно контент. Контент секции представлен полным набором элементов форматирования и в конце секции может иметь "подпись"</documentation>
							</annotation>
							<choice maxOccurs="unbounded">
								<element name="p" type="fb3b:StyleType"/>
								<element name="subtitle" type="fb3b:StyleType">
									<annotation>
										<documentation>Обычно выделенн отсрупами сверху-снизу, отбит по центру и выведен жирным начертанием. Нечто среднее между заголовком и абзацем. В содержании не отображается</documentation>
									</annotation>
								</element>
								<element name="ol">
									<complexType>
										<complexContent>
											<extension base="fb3b:LiHolderType">
												<attribute name="id" type="ID" use="optional"/>
											</extension>
										</complexContent>
									</complexType>
								</element>
								<element name="ul">
									<complexType>
										<complexContent>
											<extension base="fb3b:LiHolderType">
												<attribute name="id" type="ID" use="optional"/>
											</extension>
										</complexContent>
									</complexType>
								</element>
								<element name="code" type="fb3b:PHolderType"/>
								<element name="table">
									<complexType>
										<complexContent>
											<extension base="fb3b:TableType"/>
										</complexContent>
									</complexType>
								</element>
								<element name="poem">
									<complexType>
										<complexContent>
											<extension base="fb3b:PoemType"/>
										</complexContent>
									</complexType>
								</element>
								<element name="blockquote" type="fb3b:PHolderType"/>
								<element name="br" type="fb3b:BRType"/>
								<element name="div" type="fb3b:DivBlockType">
									<annotation>
										<documentation>Блоки div могут включать в себя большую часть форматирования, но не блоки - вложенность "блоков" запрещена. Описание этой простой концепции выглядит достаточно монстроподобно, но суть проста</documentation>
									</annotation>
								</element>
							</choice>
							<element name="subscription" type="fb3b:BasicAnnotationType" minOccurs="0">
								<annotation>
									<documentation>Подпись в конце секции - обычно тут че-нить типа "Москва, весна 2008" или "Конец" или "Продолжение следует"</documentation>
								</annotation>
							</element>
						</sequence>
					</choice>
				</sequence>
				<attribute name="id" type="ID" use="required"/>
				<attribute name="article" type="boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DivBlockType">
		<annotation>
			<documentation>Выделенный блок текста. Весь блок можно нестандартно разместить и/или выделенить</documentation>
		</annotation>
		<sequence>
			<element name="title" type="fb3b:SimpleTextType" minOccurs="0"/>
			<element name="marker" minOccurs="0">
				<annotation>
					<documentation>Помимо отсутствия вложенных блоков у блоков может быть маркер (их полно в книгах O'Relly, там всякие пальцы и восклицательные знаки на полях)</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="img" type="fb3b:ImgType"/>
					</sequence>
				</complexType>
			</element>
			<choice>
				<element name="p" type="fb3b:StyleType"/>
				<element name="ol" type="fb3b:LiHolderType"/>
				<element name="ul" type="fb3b:LiHolderType"/>
				<element name="code" type="fb3b:PHolderType"/>
				<element name="table" type="fb3b:TableType"/>
				<element name="poem" type="fb3b:PoemType"/>
				<element name="blockquote" type="fb3b:PHolderType"/>
			</choice>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="p" type="fb3b:StyleType"/>
				<element name="ol" type="fb3b:LiHolderType"/>
				<element name="ul" type="fb3b:LiHolderType"/>
				<element name="code" type="fb3b:PHolderType"/>
				<element name="table" type="fb3b:TableType"/>
				<element name="poem" type="fb3b:PoemType"/>
				<element name="blockquote" type="fb3b:PHolderType"/>
				<element name="br" type="fb3b:BRType"/>
			</choice>
			<element name="subscription" type="fb3b:BasicAnnotationType" minOccurs="0">
				<annotation>
					<documentation>Так же блок может иметь подпись. Сюда, к примеру, можно затолкать и подпись к картинке - шрифт будет соответствующий</documentation>
				</annotation>
			</element>
		</sequence>
		<attributeGroup ref="fb3b:SizingAttributes"/>
		<attribute name="float" use="optional">
			<simpleType>
				<restriction base="token">
					<enumeration value="left"/>
					<enumeration value="right"/>
					<enumeration value="center"/>
					<enumeration value="default"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="align" type="fb3b:alignType" use="optional"/>
		<attribute name="bindto" type="IDREF" use="optional"/>
		<attribute name="border" type="boolean" use="optional"/>
		<attribute name="id" type="ID" use="optional"/>
		<attribute name="on-one-page" type="boolean" use="optional"/>
	</complexType>
	<complexType name="BasicAnnotationType">
		<annotation>
			<documentation>Подпись под текстом. В fb2 было text-author, теперь использование "подписи" расширено - просто абстрактная подпись под блоком</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation>Кудрявая схема sequence+choice позволяет исключить br в качестве первого элемента. Сперва мы требуем текст.</documentation>
			</annotation>
			<choice>
				<element name="p" type="fb3b:StyleType"/>
				<element name="ol">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType"/>
						</complexContent>
					</complexType>
				</element>
				<element name="ul">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType"/>
						</complexContent>
					</complexType>
				</element>
				<element name="code" type="fb3b:PHolderType"/>
				<element name="blockquote" type="fb3b:PHolderType"/>
			</choice>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="p" type="fb3b:StyleType"/>
				<element name="ol">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType">
								<attribute name="id" type="ID" use="optional"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="ul">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType">
								<attribute name="id" type="ID" use="optional"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="code" type="fb3b:PHolderType"/>
				<element name="blockquote" type="fb3b:PHolderType"/>
				<element name="br" type="fb3b:BRType"/>
			</choice>
		</sequence>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="BRType">
		<annotation>
			<documentation>Разрыв в тексте - обычно представлен пустой строкой. Так же может влиять на течение текста по отношению к блокам (возобновлять после их окончания) или на размещение на листах - clear="page" означает разрыв страницы на экране</documentation>
		</annotation>
		<attribute name="clear" type="fb3b:BrClearType" use="optional"/>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="TableType">
		<annotation>
			<documentation>Полноценные, по сути, таблицы, но без возможности вложенности</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:TitledType">
				<sequence>
					<element name="tr" maxOccurs="unbounded">
						<complexType>
							<choice maxOccurs="unbounded">
								<element name="th" type="fb3b:TDType"/>
								<element name="td" type="fb3b:TDType"/>
							</choice>
							<attribute name="align" type="fb3b:alignType" use="optional" default="left"/>
							<attribute name="id" type="ID" use="optional"/>
						</complexType>
					</element>
				</sequence>
				<attribute name="id" type="ID" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TDType">
		<annotation>
			<documentation>Ячейка таблицы</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:PHolderType">
				<attribute name="style" type="string" use="optional"/>
				<attribute name="colspan" type="integer" use="optional"/>
				<attribute name="rowspan" type="integer" use="optional"/>
				<attribute name="align" type="fb3b:alignType" use="optional" default="left"/>
				<attribute name="valign" type="fb3b:vAlignType" use="optional" default="top"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StyleType" mixed="true">
		<annotation>
			<documentation>Внутрибзацевый отформатированный текст - может содержать всеразличное форматирование, сноски и ссылки (и то, и то - не вложенное)</documentation>
		</annotation>
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="strong" type="fb3b:StyleType">
				<annotation>
					<documentation>Жирный текст, может выделяться в т.ч. и цветом, а не начертанием</documentation>
				</annotation>
			</element>
			<element name="em" type="fb3b:StyleType">
				<annotation>
					<documentation>Курсив, может выделяться в т.ч. и цветом, а не начертанием</documentation>
				</annotation>
			</element>
			<element name="strikethrough" type="fb3b:StyleType">
				<annotation>
					<documentation>Зачеркнутый текст</documentation>
				</annotation>
			</element>
			<element name="sub" type="fb3b:StyleType">
				<annotation>
					<documentation>Надстрочный текст</documentation>
				</annotation>
			</element>
			<element name="sup" type="fb3b:StyleType">
				<annotation>
					<documentation>Подстрочный текст</documentation>
				</annotation>
			</element>
			<element name="code" type="fb3b:StyleType">
				<annotation>
					<documentation>Моноширный шрифт, возможно выделение цветом и/или подложкой</documentation>
				</annotation>
			</element>
			<element name="underline" type="fb3b:StyleType">
				<annotation>
					<documentation>Подчеркивание (во избежание конфликта со ссылками следует использовать пунктирное подчеркивание)</documentation>
				</annotation>
			</element>
			<element name="spacing" type="fb3b:StyleType">
				<annotation>
					<documentation>Разрядка</documentation>
				</annotation>
			</element>
			<element name="span">
				<complexType mixed="true">
					<complexContent mixed="true">
						<extension base="fb3b:StyleType">
							<attribute name="class" type="normalizedString" use="optional"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="a" type="fb3b:LinkType"/>
			<element name="note" type="fb3b:NoteType"/>
			<element name="img" type="fb3b:ImgType"/>
			<element name="paper-page-break" type="fb3b:PaperPageBreakType"/>
		</choice>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="StyleInLinkType" mixed="true">
		<annotation>
			<documentation>Внутрибзацевый отформатированный текст - может содержать всеразличное форматирование, но без ссылок и сносок</documentation>
		</annotation>
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="strong" type="fb3b:StyleInLinkType"/>
			<element name="em" type="fb3b:StyleInLinkType"/>
			<element name="strikethrough" type="fb3b:StyleInLinkType"/>
			<element name="sub" type="fb3b:StyleInLinkType"/>
			<element name="sup" type="fb3b:StyleInLinkType"/>
			<element name="code" type="fb3b:StyleInLinkType"/>
			<element name="underline" type="fb3b:StyleInLinkType"/>
			<element name="spacing" type="fb3b:StyleInLinkType"/>
			<element name="span">
				<complexType mixed="true">
					<complexContent mixed="true">
						<extension base="fb3b:StyleInLinkType">
							<attribute name="class" type="normalizedString" use="optional"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="img" type="fb3b:ImgType"/>
			<element name="paper-page-break" type="fb3b:PaperPageBreakType"/>
		</choice>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="LinkType" mixed="true">
		<annotation>
			<documentation>Ссылка - внешняя или на другой фрагмент этого же текста (адресация через id элемента)</documentation>
		</annotation>
		<complexContent mixed="true">
			<extension base="fb3b:StyleInLinkType">
				<attribute ref="xlink:href" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NoteType" mixed="true">
		<annotation>
			<documentation>Сноска в теле документа</documentation>
		</annotation>
		<complexContent mixed="true">
			<extension base="fb3b:StyleInLinkType">
				<attribute name="href" type="IDREF" use="required"/>
				<attribute ref="xlink:role" use="optional"/>
				<attribute name="autotext" type="boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ImgType">
		<annotation>
			<documentation>Картинка. Имеет достаточно гибкое описание размера. Ссылается не на файл картинки (!) а на ее ID в .rels-файле. Может быть jpg, png, gif и svg</documentation>
		</annotation>
		<attribute name="src" type="anyURI" use="required"/>
		<attribute name="alt" type="string" use="optional"/>
		<attribute name="id" type="ID" use="optional"/>
		<attributeGroup ref="fb3b:SizingAttributes"/>
	</complexType>
	<complexType name="PHolderType">
		<annotation>
			<documentation>Простой контейнер для нескольких абзацев текста. Не допускает сложное структурирование</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:TitledType">
				<sequence maxOccurs="unbounded">
					<element name="p" type="fb3b:StyleType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LiHolderType">
		<annotation>
			<documentation>OL|UL в html - списки. Немного добавляем им определенности и наперед задаем формат вложенности - вложение идет на уровне ul|ol, в него можно помещать другой ul|ol</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:TitledType">
				<sequence>
					<annotation>
						<documentation>Начинать список со вложенности не даем. В принципе, крохоборство, но заведомо бессмысленные последовательности отрубать на уровне валидации - правильно</documentation>
					</annotation>
					<element name="li" type="fb3b:StyleType"/>
					<choice maxOccurs="unbounded">
						<element name="li" type="fb3b:StyleType"/>
						<element name="ol" type="fb3b:LiHolderType"/>
						<element name="ul" type="fb3b:LiHolderType"/>
					</choice>
				</sequence>
				<attribute name="id" type="ID" use="prohibited"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PoemType">
		<annotation>
			<documentation>Стихи. Состоят из строф и строк, строки представлены абзацами</documentation>
		</annotation>
		<complexContent>
			<extension base="fb3b:TitledType">
				<sequence>
					<element name="stanza" type="fb3b:PHolderType" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="id" type="ID" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SemiSimpleBodyType">
		<annotation>
			<documentation>Тело сноски. Может содержать большую часть структурирования, но не блоков</documentation>
		</annotation>
		<sequence>
			<element name="title" type="fb3b:SimpleTextType" minOccurs="0"/>
			<choice maxOccurs="unbounded">
				<element name="p" type="fb3b:StyleType"/>
				<element name="ol">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType">
								<attribute name="id" type="ID" use="optional"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="ul">
					<complexType>
						<complexContent>
							<extension base="fb3b:LiHolderType">
								<attribute name="id" type="ID" use="optional"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="code" type="fb3b:PHolderType"/>
				<element name="table" type="fb3b:TableType"/>
				<element name="poem" type="fb3b:PoemType"/>
				<element name="blockquote" type="fb3b:PHolderType"/>
				<element name="br" type="fb3b:BRType"/>
			</choice>
		</sequence>
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<complexType name="PaperPageBreakType">
		<annotation>
			<documentation>Описательный элемент, позволяющий соотнести электронный текст с бумажным</documentation>
		</annotation>
		<attribute name="page-before" type="positiveInteger" use="required"/>
		<attribute name="page-after" type="positiveInteger" use="optional"/>
	</complexType>
	<simpleType name="alignType">
		<annotation>
			<documentation>Выравнивание для ячеек таблиц - горизонтальное</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="left"/>
			<enumeration value="right"/>
			<enumeration value="center"/>
			<enumeration value="justify"/>
		</restriction>
	</simpleType>
	<simpleType name="vAlignType">
		<annotation>
			<documentation>Выравнивание для ячеек таблиц - вертикальное</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="top"/>
			<enumeration value="middle"/>
			<enumeration value="bottom"/>
		</restriction>
	</simpleType>
	<simpleType name="BrClearType">
		<annotation>
			<documentation>Возможные значения для типа "очистки" блоков у элемента "br"</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="left"/>
			<enumeration value="right"/>
			<enumeration value="both"/>
			<enumeration value="page"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenSizeType">
		<annotation>
			<documentation>Допустимые единицы измерения при указании размеров</documentation>
		</annotation>
		<restriction base="normalizedString">
			<pattern value="\d+(\.\d+)?(em|ex|%|mm)"/>
		</restriction>
	</simpleType>
	<attributeGroup name="SizingAttributes">
		<annotation>
			<documentation>Стандартный набор атрибутов для элементов, имеющих фиксированные размеры</documentation>
		</annotation>
		<attribute name="width" type="fb3b:ScreenSizeType" use="optional"/>
		<attribute name="min-width" type="fb3b:ScreenSizeType" use="optional"/>
		<attribute name="max-width" type="fb3b:ScreenSizeType" use="optional"/>
	</attributeGroup>
</schema>
